<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check similarity between 2 sentences</title>
</head>
<body>
<h1>Calculate the similarity between 2 sentences</h1>
<form method="POST">
    <label for="pred">Sentence 1</label> <input type="text" name="sent_1" value="" required>
    <br>
    <label for="pred">Sentence 2</label> <input type="text" name="sent_2" value="" required>
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<h3>{{prediction}}</h3>
<p>{{result}}</p>
</body>
</html>
